<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>URL</key>
		<string>http://217.74.72.11:8000/rmf_fm</string>
		<key>artworkName</key>
		<string>RMF</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>RMF FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://217.74.72.2:8000/rmf_classic</string>
		<key>artworkName</key>
		<string>RMFClassic</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Muzyka poważna, filmowa, jazz</string>
		<key>name</key>
		<string>RMF Classic</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://217.74.72.10:8000/rmf_maxxx</string>
		<key>artworkName</key>
		<string>rmfmaxxx</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>RMF MAXXX</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiozetmp3-07.eurozet.pl:8400/</string>
		<key>artworkName</key>
		<string>Zet</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>Radio ZET</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://chillizetmp3-02.eurozet.pl:8400/</string>
		<key>artworkName</key>
		<string>chillizet</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Jazz, Chill out</string>
		<key>name</key>
		<string>Chilli ZET</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://mainstream.radioagora.pl/tuba10-1.mp3</string>
		<key>artworkName</key>
		<string>tokfm</string>
		<key>category</key>
		<string>talking</string>
		<key>description</key>
		<string>Newsy i publicystyka</string>
		<key>name</key>
		<string>TOK FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://poznan5.radio.pionier.net.pl:8000/eskarock.mp3</string>
		<key>artworkName</key>
		<string>eskaRock</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop/Rock</string>
		<key>name</key>
		<string>Eska ROCK</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://212.182.14.165:80/live</string>
		<key>artworkName</key>
		<string>centrumLublin</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Lublin, UMCS</string>
		<key>name</key>
		<string>Radio Centrum</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiocentrum.pl:8000/</string>
		<key>artworkName</key>
		<string>centrumRzeszow</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Rzeszów, Politechnika Rzeszowska</string>
		<key>name</key>
		<string>Radio Centrum</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shoutcast2.index.uz.zgora.pl:8000/</string>
		<key>artworkName</key>
		<string>index</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Zielona Góra, Uniwersytet Zielonogórski</string>
		<key>name</key>
		<string>Radio Index</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://193.0.98.66:8002/</string>
		<key>artworkName</key>
		<string>kampus</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Warszawa, Uniwersytet Warszawski</string>
		<key>name</key>
		<string>Radio Kampus</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://156.17.39.65:8000/luz_hifi.mp3</string>
		<key>artworkName</key>
		<string>luz</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Wrocław, Politechnika Wrocławska</string>
		<key>name</key>
		<string>Radio Luz</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://213.184.18.156:8000/</string>
		<key>artworkName</key>
		<string>uwmfm</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Olsztyn, Uniwersytet Warmińsko-Mazurski</string>
		<key>name</key>
		<string>Radio UWM FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.radiofonia.fm:80/x/2537f8b94f7b49a89e6ccf64109b77e4c9a782c255f744f3d85c4d2abafa446b/radiofonia-hi.mp3</string>
		<key>artworkName</key>
		<string>radiofonia</string>
		<key>category</key>
		<string>academic</string>
		<key>description</key>
		<string>Kraków</string>
		<key>name</key>
		<string>radiofonia</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com</string>
		<key>artworkName</key>
		<string>pin</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Muzyczno-informacyjno-lifestyle'owa</string>
		<key>name</key>
		<string>Radio PiN</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://87.98.235.103:9768/</string>
		<key>artworkName</key>
		<string>bajka</string>
		<key>category</key>
		<string>talking</string>
		<key>description</key>
		<string>Poznawczo-edukacyjna, dla dzieci i rodziców</string>
		<key>name</key>
		<string>Radio Bajka</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://mainstream.radioagora.pl:80/tuba8-1.mp3</string>
		<key>artworkName</key>
		<string>roxyfm</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Muzyczno-informacyjno-kulturalny</string>
		<key>name</key>
		<string>Roxy FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://warszawa1-3.radio.pionier.net.pl:8000/pl/wawa.mp3</string>
		<key>artworkName</key>
		<string>wawa</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Zawsze polska muzyka</string>
		<key>name</key>
		<string>Radio WAWA</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://lodz.radio.pionier.net.pl:8000/pl/eska-wroclaw.mp3</string>
		<key>artworkName</key>
		<string>eska</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>Radio Eska</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://mainstream.radioagora.pl:80/tuba9-1.mp3</string>
		<key>artworkName</key>
		<string>zloteprzeboje</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>Radio Złote Przeboje</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://94.23.89.48:7000/</string>
		<key>artworkName</key>
		<string>antyradio</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Rock Alternatywny</string>
		<key>name</key>
		<string>Antyradio</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://warszawa1-3.radio.pionier.net.pl:8000/pl/prwroclaw.mp3</string>
		<key>artworkName</key>
		<string>prwroclaw</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Wrocław</string>
		<key>name</key>
		<string>Polskie Radio Wrocław</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://warszawa1-3.radio.pionier.net.pl:8000/pl/radioram.mp3</string>
		<key>artworkName</key>
		<string>ram</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Wrocław, Chill out, aktualności</string>
		<key>name</key>
		<string>Radio RAM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.muzyczneradio.pl:9900/</string>
		<key>artworkName</key>
		<string>muzyczne</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Jelenia Góra</string>
		<key>name</key>
		<string>Muzyczne Radio</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://217.74.72.12:8000/radio_aplauz</string>
		<key>artworkName</key>
		<string>aplauz</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Wrocław</string>
		<key>name</key>
		<string>Radio Aplauz</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://elka.fm:8000/elka</string>
		<key>artworkName</key>
		<string>elka</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Głogów, Leszno, Rawicz, Gostyń, Kościan, Góra</string>
		<key>name</key>
		<string>Radio ELKA</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-glogow-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Głogów</string>
		<key>name</key>
		<string>Radio Plus Głogów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://156.17.54.5:8000/128.mp3</string>
		<key>artworkName</key>
		<string>rodzina</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>ewangelizacyjno-społeczna, religijna, Wrocław, Świdnica</string>
		<key>name</key>
		<string>Katolickie Radio Rodzina</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot2.inten.pl:8906/</string>
		<key>artworkName</key>
		<string>sudety</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Dzierżoniów</string>
		<key>name</key>
		<string>Radio Sudety</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8978/</string>
		<key>artworkName</key>
		<string>traffic</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>muzyczno-informacyjna, Wrocław</string>
		<key>name</key>
		<string>Radio Traffic FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.radiopik.pl:9004/</string>
		<key>artworkName</key>
		<string>prpik</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Bydgoszcz</string>
		<key>name</key>
		<string>Polskie Radio Pomorza i Kujaw</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://live.gra.fm:9015/</string>
		<key>artworkName</key>
		<string>gra</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop, Bydgoszcz</string>
		<key>name</key>
		<string>Radio Gra Bydgoszcz</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://live.gra.fm:9005/</string>
		<key>artworkName</key>
		<string>gra</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop, Toruń</string>
		<key>name</key>
		<string>Radio Gra Toruń</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://live.gra.fm:9035/</string>
		<key>artworkName</key>
		<string>gra</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop, Inowrocław</string>
		<key>name</key>
		<string>Radio Gra Inowrocław</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://live.gra.fm:9025/</string>
		<key>artworkName</key>
		<string>gra</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop, Włocławek</string>
		<key>name</key>
		<string>Radio Gra Włocławek</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://77.91.63.146:8088/RadioHIT.aac</string>
		<key>artworkName</key>
		<string>hit</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyka łagodzi obyczaje, Włocławek</string>
		<key>name</key>
		<string>Radio HIT</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8052/</string>
		<key>artworkName</key>
		<string>naklo</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Rock, Trance, House, Nakło</string>
		<key>name</key>
		<string>Radio Nakło</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-bydgoszcz-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Bydgoszcz</string>
		<key>name</key>
		<string>Radio Plus Bydgoszcz</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-torun-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Toruń</string>
		<key>name</key>
		<string>Radio Plus Toruń</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc2.readycast.org:8890/</string>
		<key>artworkName</key>
		<string>znin</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno-informacyjna, Żnin</string>
		<key>name</key>
		<string>Radio Żnin FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://178.33.50.240:8000/32k</string>
		<key>artworkName</key>
		<string>prlublin</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lublin</string>
		<key>name</key>
		<string>Polskie Radio Lublin</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://91.231.122.11/hq</string>
		<key>artworkName</key>
		<string>krzamosc</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolickie, Zamość</string>
		<key>name</key>
		<string>Katolickie Radio Zamość</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://178.33.50.240:8000/radiofreee</string>
		<key>artworkName</key>
		<string>freee</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop, Lublin</string>
		<key>name</key>
		<string>Radio Freee</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://bonton.streamhost.pl:8092/</string>
		<key>artworkName</key>
		<string>bonton</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno-informacyjna, Chełm</string>
		<key>name</key>
		<string>Bon Ton Radio</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.radioer.pl:8000/Radio_eR</string>
		<key>artworkName</key>
		<string>er</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Lublin</string>
		<key>name</key>
		<string>Radio eR</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream01.zachod.pl:10103/</string>
		<key>artworkName</key>
		<string>przachod</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno-informacyjna, Zielona Góra, Gorzów Wielkopolski</string>
		<key>name</key>
		<string>Radio Zachód</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream01.zachod.pl:10105/</string>
		<key>artworkName</key>
		<string>gorzow</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Gorzów Wielkopolski</string>
		<key>name</key>
		<string>Radio Gorzów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream01.zachod.pl:10107/</string>
		<key>artworkName</key>
		<string>zielonagora</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Zielona Góra</string>
		<key>name</key>
		<string>Radio Zielona Góra</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-gorzow-02.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Gorzów Wielkopolski</string>
		<key>name</key>
		<string>Radio Plus Gorzów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-zielona-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Zielona Góra</string>
		<key>name</key>
		<string>Radio Plus Zielona Góra</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://46.45.87.3:8000</string>
		<key>artworkName</key>
		<string>nasze</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Sieradz</string>
		<key>name</key>
		<string>Nasze Radio</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://195.69.82.77:9000/</string>
		<key>artworkName</key>
		<string>parada</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Pop/Rock, Łódź</string>
		<key>name</key>
		<string>Radio Parada</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8054/</string>
		<key>artworkName</key>
		<string>rsc</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Skierniewice</string>
		<key>name</key>
		<string>Radio RSC</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc.soundcast.pl:8176/</string>
		<key>artworkName</key>
		<string>victoria</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Diecezjalna, Kutno, Łowicz, Rawa Mazowiecka, Skierniewice, Żyrardów</string>
		<key>name</key>
		<string>Radio Victoria</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8022/</string>
		<key>artworkName</key>
		<string>wielun</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Wieluń, Dizałoszyn, Pajęczno</string>
		<key>name</key>
		<string>Radio Ziemi Wieluńskiej</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8000/ainkarim</string>
		<key>artworkName</key>
		<string>ainkarim</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolickie, Skomielna Czarna</string>
		<key>name</key>
		<string>Radio AIN KARIM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://87.98.186.209:8000/</string>
		<key>artworkName</key>
		<string>alex</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Folk, Zakopane, Podhale</string>
		<key>name</key>
		<string>Radio Alex</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc9232.xpx.pl:9232/</string>
		<key>artworkName</key>
		<string>rdc</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Muzyka</string>
		<key>name</key>
		<string>Radio Dla Ciebie</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc4.24cast.pl:9802/</string>
		<key>artworkName</key>
		<string>krciechanow</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Ciechanów</string>
		<key>name</key>
		<string>Katolickie Radio Ciechanów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot2.inten.pl:8024/</string>
		<key>artworkName</key>
		<string>krplock</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Płock</string>
		<key>name</key>
		<string>Katolickie Radio Płock</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://s1.slotex.pl:7038</string>
		<key>artworkName</key>
		<string>krpodlasie</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Podlasie</string>
		<key>name</key>
		<string>Katolickie Radio Podlasie</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://s6.radiohost.pl:8888</string>
		<key>artworkName</key>
		<string>bogoria</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Grodzisk Mazowiecki</string>
		<key>name</key>
		<string>Radio Bogoria</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8030/</string>
		<key>artworkName</key>
		<string>famasochaczew</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Sochaczew</string>
		<key>name</key>
		<string>Radio Fama Sochaczew</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8096/</string>
		<key>artworkName</key>
		<string>fama</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno - informacyjna, Wołomin</string>
		<key>name</key>
		<string>Radio FaMa Wołomin</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://79.98.145.133:8000/</string>
		<key>artworkName</key>
		<string>hobby</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Muzyka współczesna</string>
		<key>name</key>
		<string>Radio Hobby</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiokolor.streamhost.pl:8074/</string>
		<key>artworkName</key>
		<string>kolor</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Pop</string>
		<key>name</key>
		<string>Radio Kolor</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8060/</string>
		<key>artworkName</key>
		<string>mozowsze</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalne, Grójec, Piaseczno</string>
		<key>name</key>
		<string>Radio Mazowsze</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://88.199.169.10:8004/</string>
		<key>artworkName</key>
		<string>niepokalanow</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolickie</string>
		<key>name</key>
		<string>Radio Niepokalanów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://46.45.87.3:8020</string>
		<key>artworkName</key>
		<string>nostalgia</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Oldies</string>
		<key>name</key>
		<string>Radio Nostalgia</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8094/</string>
		<key>artworkName</key>
		<string>oko</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Ostrołęka</string>
		<key>name</key>
		<string>Radio OKO</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-radom-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Radom</string>
		<key>name</key>
		<string>Radio Plus Radom</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-siec-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Warszawa</string>
		<key>name</key>
		<string>Radio Plus Warszawa</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8044/</string>
		<key>artworkName</key>
		<string>warszawa</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Warszawa</string>
		<key>name</key>
		<string>Radio Warszawa</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://poznan4-1.radio.pionier.net.pl:8000/pl/vox.mp3</string>
		<key>artworkName</key>
		<string>voxfm</string>
		<key>category</key>
		<string>music</string>
		<key>description</key>
		<string>Oldies</string>
		<key>name</key>
		<string>Radio VOX FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://posluchaj.radio.opole.pl:8030/</string>
		<key>artworkName</key>
		<string>propole</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Opole, Brzeg, Krapkowice, Kędzierzyn-Koźle, Kluczbork, Nysa, Oleśno, Prudnik, Głubczyce, Namysłów. Strzelce Opolskie</string>
		<key>name</key>
		<string>Polskie Radio Opole</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot2.inten.pl:8048/</string>
		<key>artworkName</key>
		<string>park</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Kędzierzyn-Koźle</string>
		<key>name</key>
		<string>Radio Park FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot.inten.pl:10000/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Opole</string>
		<key>name</key>
		<string>Radio Plus Opole</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiointernetowe.net:9500/</string>
		<key>artworkName</key>
		<string>prrzeszow</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Rzeszów</string>
		<key>name</key>
		<string>Polskie Radio Rzeszów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://62.133.128.22:8000/</string>
		<key>artworkName</key>
		<string>fara</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Przemyśl</string>
		<key>name</key>
		<string>Radio Fara</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8050/</string>
		<key>artworkName</key>
		<string>leliwa</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Tarnobrzeg, Stalowa Wola, Mielec, Sandomierz</string>
		<key>name</key>
		<string>Radio Leliwa</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://62.133.128.18:8040/</string>
		<key>artworkName</key>
		<string>krrzeszow</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Rzeszów</string>
		<key>name</key>
		<string>Katolickie Radio Rzeszów</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://bh2.pl:9938</string>
		<key>artworkName</key>
		<string>prbialystok</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Białystok</string>
		<key>name</key>
		<string>Polskie Radio Białystok</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://89.22.33.200:8000/</string>
		<key>artworkName</key>
		<string>5suwalki</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Suwałki</string>
		<key>name</key>
		<string>Radio 5 Suwałki</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8036</string>
		<key>artworkName</key>
		<string>nadzieja</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Łomża</string>
		<key>name</key>
		<string>Radio Nadzieja</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://ns590.ovh.net:8050/rg32</string>
		<key>artworkName</key>
		<string>prgdansk</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Gdańsk, Słupsk, Starogard Gdański, Człuchów, Kwidzyn, Elbląg</string>
		<key>name</key>
		<string>Polskie Radio Gdańsk</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:9024/</string>
		<key>artworkName</key>
		<string>fama</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno - informacyjna, Słupsk</string>
		<key>name</key>
		<string>Radio FaMa Słupsk</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://83.12.223.226:8000/</string>
		<key>artworkName</key>
		<string>glos</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Pelplin</string>
		<key>name</key>
		<string>Radio Głos</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8048/</string>
		<key>artworkName</key>
		<string>kaszebe</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Kaszubska, folk</string>
		<key>name</key>
		<string>Radio Kaszëbë</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:9022/</string>
		<key>artworkName</key>
		<string>malbork</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Malbork</string>
		<key>name</key>
		<string>Radio Malbork</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-gdansk-01.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Gdańsk</string>
		<key>name</key>
		<string>Radio Plus Gdańsk</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiointernetowe.net:7700/</string>
		<key>artworkName</key>
		<string>prkatowice</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Katowice, Częstochowa, Bielsko-Biała, Zawiercie, Gliwice</string>
		<key>name</key>
		<string>Polskie Radio Katowice</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://streams.radio90.pl:8000/radio90_96kbps_stereo.mp3</string>
		<key>artworkName</key>
		<string>90fm</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Rybnik</string>
		<key>name</key>
		<string>Radio 90 FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8044/</string>
		<key>artworkName</key>
		<string>bielsko</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Bielsko Biała</string>
		<key>name</key>
		<string>Radio Bielsko</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://209.62.16.60/radioccm</string>
		<key>artworkName</key>
		<string>ccm</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Gliwice, Cieszyn</string>
		<key>name</key>
		<string>Radio CCM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8064/</string>
		<key>artworkName</key>
		<string>express</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Katowice, Bielsko Biała</string>
		<key>name</key>
		<string>Radio Express</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot2.inten.pl:8784/</string>
		<key>artworkName</key>
		<string>em</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Chrześcijańska, Katowice</string>
		<key>name</key>
		<string>Radio eM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://209.62.16.60/radiofest</string>
		<key>artworkName</key>
		<string>fest</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Informacyjn-muzyczna, Gliwice</string>
		<key>name</key>
		<string>Radio Fest</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8056/</string>
		<key>artworkName</key>
		<string>fiat</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Częstochowa</string>
		<key>name</key>
		<string>Radio Fiat</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot4.inten.pl:8252/</string>
		<key>artworkName</key>
		<string>jasnagora</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Częstochowa</string>
		<key>name</key>
		<string>Radio Jasna Góra</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://streams.radio90.pl:8000/jura_64kbps_stereo.aac</string>
		<key>artworkName</key>
		<string>jura</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Częstochowa</string>
		<key>name</key>
		<string>Radio Jura</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot4.inten.pl:8412/</string>
		<key>artworkName</key>
		<string>piekary</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Regionalna, Śląska, Piekary Śląskie</string>
		<key>name</key>
		<string>Radio Piekary</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream3.nadaje.com:8018</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Śląsk, Gliwice</string>
		<key>name</key>
		<string>Radio Plus Śląsk</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc8010.xpx.pl:8010/</string>
		<key>artworkName</key>
		<string>vanessa</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Racibórz</string>
		<key>name</key>
		<string>Radio Vanessa</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://gra.radio.kielce.com.pl:8000/rk1</string>
		<key>artworkName</key>
		<string>prkielce</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Kielce</string>
		<key>name</key>
		<string>Polskie Radio Kielce</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8076/</string>
		<key>artworkName</key>
		<string>fama</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Muzyczno - informacyjna, Kielce</string>
		<key>name</key>
		<string>Radio FaMa Kielce</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-kielce-02.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>plus</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Społeczno-religijna, Kielce</string>
		<key>name</key>
		<string>Radio Plus Kielce</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://213.73.25.178:7055/</string>
		<key>artworkName</key>
		<string>prolsztyn</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Olsztyn</string>
		<key>name</key>
		<string>Polskie Radio Olsztyn</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radio.ipip.cz:8086/</string>
		<key>artworkName</key>
		<string>5elk</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Ełk</string>
		<key>name</key>
		<string>Radio 5 Ełk</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://sc.ipip.cz:8068/</string>
		<key>artworkName</key>
		<string>bayerfm</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Ełk</string>
		<key>name</key>
		<string>Radio Bayer FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8010/</string>
		<key>artworkName</key>
		<string>mazury</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Ostróda, Olsztynek, Morąg</string>
		<key>name</key>
		<string>Radio Mazury</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream2.nadaje.com:8012/</string>
		<key>artworkName</key>
		<string>sud</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Kępno</string>
		<key>name</key>
		<string>Radio Sud</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream4.radioagora.pl:8000/bluefm.mp3</string>
		<key>artworkName</key>
		<string>bluefm</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Poznań</string>
		<key>name</key>
		<string>Radio Blue FM</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://shot4.inten.pl:8888/</string>
		<key>artworkName</key>
		<string>centrum</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Kalisz</string>
		<key>name</key>
		<string>Radio Centrum</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://plus-gniezno-02.eurozet.pl:8500/</string>
		<key>artworkName</key>
		<string>gniezno</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Gniezno</string>
		<key>name</key>
		<string>Radio Gniezno</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://radiokonin.fm:8000/</string>
		<key>artworkName</key>
		<string>konin</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Konin</string>
		<key>name</key>
		<string>Radio Konin</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://91.235.0.22:8000/</string>
		<key>artworkName</key>
		<string>rodzinakalisz</string>
		<key>category</key>
		<string>religion</string>
		<key>description</key>
		<string>Katolicka, Kalisz</string>
		<key>name</key>
		<string>Radio Rodzina</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8050/</string>
		<key>artworkName</key>
		<string>prszczecin</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Szczecin, Stargard Szczeciński, Świnoujście</string>
		<key>name</key>
		<string>Polskie Radio Szczecin</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://stream.nadaje.com:8000/szczecinfm</string>
		<key>artworkName</key>
		<string>szczecinfm</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Nu Jazz, Chill out, Rock alternatywny, regionalna, Szczecin</string>
		<key>name</key>
		<string>Szczecin.fm</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://87.98.235.103:7090/</string>
		<key>artworkName</key>
		<string>prkoszalin</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Koszalin, Kołobrzeg, Słupsk, Piła, Szczecinek</string>
		<key>name</key>
		<string>Polskie Radio Koszalin</string>
	</dict>
	<dict>
		<key>URL</key>
		<string>http://graj.radiokolobrzeg.pl:8000/</string>
		<key>artworkName</key>
		<string>kolobrzeg</string>
		<key>category</key>
		<string>regional</string>
		<key>description</key>
		<string>Lokalna, Kołobrzeg</string>
		<key>name</key>
		<string>Radio Kołobrzeg</string>
	</dict>
</array>
</plist>
