<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Katolicki głos w Twoim domu</string>
		<key>name</key>
		<string>Maryja</string>
		<key>URL</key>
		<string></string>
		<key>category</key>
		<string>talking</string>
		<key>artworkName</key>
		<string>Maryja</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Pop/Rock</string>
		<key>name</key>
		<string>Polskie Radio Trójka</string>
		<key>URL</key>
		<string></string>
		<key>category</key>
		<string>music</string>
		<key>artworkName</key>
		<string>PR3</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Newsy i publicystyka</string>
		<key>name</key>
		<string>Polskie Radio Program 1</string>
		<key>URL</key>
		<string></string>
		<key>category</key>
		<string>talking</string>
		<key>artworkName</key>
		<string>PR1</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Pop, Warszawa</string>
		<key>name</key>
		<string>Zet</string>
		<key>URL</key>
		<string></string>
		<key>category</key>
		<string>music</string>
		<key>artworkName</key>
		<string>Zet</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Pop, Kraków</string>
		<key>name</key>
		<string>RMF FM</string>
		<key>URL</key>
		<string></string>
		<key>category</key>
		<string>music</string>
		<key>artworkName</key>
		<string>RMF</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Stacja regionalna, Szczecin</string>
		<key>name</key>
		<string>Polskie Radio Szczecin</string>
		<key>URL</key>
		<string>http://stream.nadaje.com:8050/</string>
		<key>category</key>
		<string>regional</string>
		<key>artworkName</key>
		<string>szczecin</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Pop/Rock</string>
		<key>category</key>
		<string>music</string>
		<key>name</key>
		<string>Eska ROCK</string>
		<key>URL</key>
		<string>http://poznan5.radio.pionier.net.pl:8000/eskarock.mp3</string>
		<key>artworkName</key>
		<string>eskaRock</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Newsy i publicystyka</string>
		<key>name</key>
		<string>TOK FM</string>
		<key>URL</key>
		<string>http://mainstream.radioagora.pl/tuba10-1.mp3</string>
		<key>artworkName</key>
		<string>tokfm</string>
		<key>category</key>
		<string>talking</string>
	</dict>
</array>
</plist>
